<!-- <mat-toolbar color="primary" *ngIf="isUserLoggedIn">
  <button mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="margin-left: 10px;">e-ifu</span>
  <span class="example-spacer"></span>
  <img class="logo-image"
       width="100px"
       src="/assets/logo-white.png"
       alt="natus logo">
</mat-toolbar> -->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav
               mode="side"
               [ngStyle]="{ 'width.em': sidenavWidth() }"
               (mouseenter)="increase()"
               (mouseleave)="decrease()"
               [class.mat-elevation-z2]=true
               >

    <mat-nav-list>
      <a mat-list-item>
        <div class="sidenav-items-wrapper">

          <div class="icon-border">
            <mat-icon>question_answer</mat-icon>
          </div>

          @if (showNavText()) {
            <div class="sidenav-item">
              <span>About</span>
            </div>
          }
        </div>
      </a>

      <a mat-list-item>
        <div class="sidenav-items-wrapper">

          <div class="icon-border">
            <mat-icon>account_circle</mat-icon>
          </div>

          @if (showNavText()) {
            <div class="sidenav-item">
              <span>Login</span>
            </div>
          }


        </div>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="top-toolbar"
                 color="primary"
                 [class.mat-elevation-z8]=true>

      <button mat-icon-button
              class="close-animate"
              (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      @if (isUserLoggedIn) {
      <a class="toolbar-screens"
         matRipple
         [matMenuTriggerFor]="dropdown">
        Screens
      </a>
      <mat-menu #dropdown>
        <button mat-menu-item
                routerLink="">Home</button>

        <button mat-menu-item
                routerLink="/main">e-IFU's</button>

        <button mat-menu-item
                routerLink="/fileupload">Upload Files</button>

        <!-- <button mat-menu-item routerLink="/">About</button> -->
      </mat-menu>
      }


      <span class="example-spacer"></span>

      <img class="logo-image"
           width="100px"
           src="/assets/logo-white.png"
           alt="natus logo">

    </mat-toolbar>

    <!-- main content-->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
