<!-- <div fxFlexAlign="stretch">Hello</div> -->
<!-- <app-theme-switch></app-theme-switch> -->

<h1>Welcome to Instructions For Use</h1>

<mat-card class="course-card mat-elevation-z8" fxFlexAlign="stretch">
  <mat-card-header>
    <mat-card-subtitle>The e-IFU website provides you with Instructions For Use from Natus</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="container" style="margin: 2em;">
      <div class="row">
        <div class="col-xs-6">
          <!-- Patient Details -->
          <form #patientDetailsForm="ngForm">
            <div class="row">
              <div class="col-xs-6">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input type="text" matInput [(ngModel)]="email" name="email" required>
                  <mat-error>First Name is a required field</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                  <mat-radio-group aria-label="Select an option" (change)="radioSelected($event)" [value]="radioValue">
                    <mat-radio-button [value]="1">I am a Healthcare Professional</mat-radio-button>
                    <mat-radio-button [value]="2">I am a Patient</mat-radio-button>
                  </mat-radio-group>
              </div>
            </div>

          </form>
        </div>


      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button  color="primary">Continue</button>
  </mat-card-actions>
</mat-card>
