// mat-toolbar a {
// color: whitesmoke;
// }

.top-toolbar {
  position: sticky;
  z-index: 2;
  padding: 20px 0;
}

.toolbar-div {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // width: 100%;
}

.toolbar-screens {
  // font-size: small;
  padding: 0px 10px;
  // margin-top: -15px;
  // border-left: 3px solid transparent;
  // border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
}

.toolbar-screens:hover {
  cursor: pointer;
  // border-left: 3px solid #11122b;
  // border-right: 3px solid #11122b;
  border-top: 3px solid #11122b;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #16b51e;
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #fff !important;
  --mat-snack-bar-button-color: #fff;
  margin-right: 25px !important;
}

.mat-simple-snackbar {
  justify-content: center !important;
}

// ----------------- trial & error ------------------

// ::ng-deep .mat-button-focus-overlay {
//   background-color: red;
// }

// .mat-mdc-raised-button:hover { background-color: orange; }

// .mat-mdc-raised-button
// .mat-mdc-button-base
// .mat-mdc-unelevated-button.mat-mdc-button-base
// .mat-mdc-outlined-button
// .mat-mdc-button-base
// .mdc-button:hover {
//   background-color: #16b51e;
// }

// ----------------- mat-drwaer ------------------

.center-sidenav-container {
  // display: flex; // This is making card width smaller. why?
}

.main-card-content {
  height: 88vh; // Why?
  // width: 100%;
  // align-items: flex-start;
}

.inner-sidenav {
  position: fixed !important;
}


// .close-animate:hover {
//   animation: icon-move 2s;
//   background-color: coral;
//   transition: 05s;
// }

// @keyframes icon-move {
//   50% {transform: rotate(45deg);}
// }
