// mat-toolbar a {
// color: whitesmoke;
// }

.top-toolbar {
  position: sticky;
  z-index: 2;
  padding: 20px 0;
}

.mat-toolbar.mat-primary {
  background: #008c9a;
  color: #fff;
}

.toolbar-div {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // width: 100%;
}

.toolbar-screens {
  // font-size: small;
  padding: 0px 10px;
  // margin-top: 5px;
  // border-left: 3px solid transparent;
  // border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
}

.toolbar-screens:hover {
  cursor: pointer;
  // border-left: 3px solid #11122b;
  // border-right: 3px solid #11122b;
  border-top: 3px solid #11122b;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo-image {
  margin-right: 5px;
}

.logo-image:hover {
  filter: brightness(90%);
}

.sidenav-items-wrapper {
  display: flex;
  justify-content: flex-start;
}

.sidenav-item {
  margin-left: 15px;
}

.icon-border {
  border-style: none;
}

//----------------------------- SnackBar ----------------------------

.success-snackbar {
  --mat-mdc-snack-bar-button-color: red;
  --mdc-snackbar-container-color: white;
  --mdc-snackbar-supporting-text-color: green;

  .mdc-snackbar__label {
    padding-bottom: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .mdc-snackbar__surface {
    padding-left: 0px;
    padding-right: 0px;
  }

  .mdc-linear-progress__bar-inner {
    border-radius: var(--mdc-snackbar-container-shape);
  }

  .mdc-linear-progress__buffer {
    border-radius: var(--mdc-snackbar-container-shape);
  }
}

.failure-snackbar {
  --mat-mdc-snack-bar-button-color: red;
  --mdc-snackbar-container-color: white;
  --mdc-snackbar-supporting-text-color: black;
}

// .mat-mdc-snack-bar-container {
//   --mdc-snackbar-container-color: #16b51e;
//   --mat-mdc-snack-bar-button-color: #ffffff;
//   --mdc-snackbar-supporting-text-color: #fff !important;
//   --mat-snack-bar-button-color: #fff;
//   margin-right: 25px !important;

//   // .mdc-button {
//   //   background-color: #fff;
//   // }

//   // .mdc-button__label {
//   //   color: #11122b;
//   // }
// }

// .mat-simple-snackbar {
//   justify-content: center !important;
// }

// ----------------- trial & error ------------------

// ::ng-deep .mat-button-focus-overlay {
//   background-color: red;
// }

// .mat-mdc-raised-button:hover { background-color: orange; }

// .mat-mdc-raised-button
// .mat-mdc-button-base
// .mat-mdc-unelevated-button.mat-mdc-button-base
// .mat-mdc-outlined-button
// .mat-mdc-button-base
// .mdc-button:hover {
//   background-color: #16b51e;
// }

// ----------------- mat-drwaer ------------------

.main-card-content {
  height: calc(100vh - var(--mat-toolbar-standard-height));
  // height: 88vh; // Why?
  // width: 100%;
  // align-items: flex-start;
}

.inner-sidenav {
  position: fixed !important;
}

.card-list-container {
  padding-bottom: 5px;
}

.close-animate {
  transform: rotate(0deg);
  transition: 0.3s;
}

.close-animate:hover {
  transform: rotate(90deg);
  // transition: 0.5s;
}
