<div class="center-sidenav-container">
  <mat-sidenav-container>
    <mat-sidenav #drawer
                 mode="side" style="background-color: azure;"
                 opened="true">
      <app-filter-view [isVisible]="isVisible"
                       (drawerClosedEvent)="toggle()"></app-filter-view>
    </mat-sidenav>

    <div class="main-card-content">
      <button *ngIf="!isVisible"
              mat-mini-fab
              color="primary"
              (click)="toggle()"
              style="background-color: gray; position: absolute !important; top: 3px; z-index: 1; height: 32px; width:  32px;">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <div class="card-list-container">
        <ng-container *ngFor="let item of cardsArray">
          <app-card-content [maincontent]="item"></app-card-content>
        </ng-container>
      </div>
    </div>
  </mat-sidenav-container>
</div>
