// mat-toolbar a {
// color: whitesmoke;
// }

.top-toolbar {
  position: sticky;
  z-index: 2;
  padding: 20px 0;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #16b51e;
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #fff !important;
  --mat-snack-bar-button-color: #fff;
  margin-right: 25px !important;
}

.mat-simple-snackbar {
  justify-content: center !important;
}

// ----------------- trial & error ------------------

// ::ng-deep .mat-button-focus-overlay {
//   background-color: red;
// }

// .mat-mdc-raised-button:hover { background-color: orange; }

// .mat-mdc-raised-button
// .mat-mdc-button-base
// .mat-mdc-unelevated-button.mat-mdc-button-base
// .mat-mdc-outlined-button
// .mat-mdc-button-base
// .mdc-button:hover {
//   background-color: #16b51e;
// }

// ----------------- mat-drwaer ------------------

.center-sidenav-container {
  // display: flex; // This is making card width smaller. why?
}

.main-card-content {
  height: 88vh; // Why?
  // width: 100%;
  // align-items: flex-start;
}

.inner-sidenav {
  position: fixed !important;
}
