<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav
               mode="side"
               [ngStyle]="{ 'width.em': sidenavWidth }"
               (mouseenter)="increase()"
               (mouseleave)="decrease()"
               [class.mat-elevation-z2]=true
               opened>

    <mat-nav-list>

      <a mat-list-item>
        <div class="sidenav-items-wrapper">

          <div class="icon-border">
            <mat-icon>question_answer</mat-icon>
          </div>

          <div *ngIf="sidenavWidth > 6"
               class="sidenav-item">
            <span>About</span>
          </div>

        </div>
      </a>

      <a mat-list-item>
        <div class="sidenav-items-wrapper">

          <div class="icon-border">
            <mat-icon>account_circle</mat-icon>
          </div>

          <div *ngIf="sidenavWidth > 6"
               class="sidenav-item">
            <span>Login</span>
          </div>

        </div>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="top-toolbar"
                 color="primary"
                 [class.mat-elevation-z8]=true>

      <button mat-icon-button
              class="close-animate"
              (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <a class="toolbar-screens"
         matRipple
         [matMenuTriggerFor]="dropdown">
        Screens
      </a>

      <span class="example-spacer"></span>

      <img class="logo-image"
           width="100px"
           src="/assets/logo-white.png"
           alt="natus logo">

      <mat-menu #dropdown>

        <button mat-menu-item
                routerLink="/main">Products</button>

        <button mat-menu-item
                routerLink="/fileupload">Upload Files</button>

        <button mat-menu-item
                routerLink="/">About</button>

      </mat-menu>

    </mat-toolbar>

    <div class="center-sidenav-container">
      <mat-sidenav-container>
        <mat-sidenav #drawer
                     mode="side" style="background-color: azure;"
                     opened="true">
          <app-filter-view [isVisible]="isVisible"
                           (drawerClosedEvent)="toggle()"></app-filter-view>
        </mat-sidenav>

        <div class="main-card-content">
          <button *ngIf="!isVisible"
                  mat-mini-fab
                  color="primary"
                  (click)="toggle()"
                  style="background-color: gray; position: absolute !important; top: 3px; z-index: 1; height: 32px; width:  32px;">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <div class="card-list-container">
            <ng-container *ngFor="let item of cardsArray">
              <app-card-content [maincontent]="item"></app-card-content>
            </ng-container>
          </div>
        </div>
      </mat-sidenav-container>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
