<mat-toolbar color="primary">
  <button mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="margin-left: 10px;">e-ifu</span>
  <span class="example-spacer"></span>
  <img class="logo-image"
       width="100px"
       src="/assets/logo-white.png"
       alt="natus logo">
</mat-toolbar>
<div class="outer-div">
  <div class="maindiv">
    <mat-card class="course-card mat-elevation-z8"
              fxFlexAlign="stretch">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Welcome to natus</mat-card-title>
          <mat-card-subtitle>The e-IFU website provides you with Instructions For Use from Natus</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>

      <mat-card-content>
        <div class="container">
          <form [formGroup]="consentForm"
                id="consentFormCtrl"
                (ngSubmit)="onNgSubmit()">

            <div class="email-div">
              <div class="textbox">
                <mat-form-field appearance="outline"
                                subscriptSizing='dynamic'>
                  <mat-label>Email</mat-label>
                  <input type="text"
                         matInput
                         formControlName="email">
                  <mat-error *ngIf="consentForm.controls['email'].hasError('required')">
                    E-mail is required
                  </mat-error>
                  <mat-error *ngIf="consentForm.controls['email'].hasError('email')">
                    Enter a valid e-mail
                  </mat-error>
                  <!-- <mat-hint>Hint*</mat-hint> -->
                </mat-form-field>
              </div>
              <div class="optin">
                <mat-checkbox formControlName="checked"  [disableRipple]="true"
                              (change)="boxChanged($event.checked)"
                              labelPosition="before">Opt out of email</mat-checkbox>
              </div>
            </div>

            <div>
              <mat-radio-group class="rgroup"
                               aria-label="Select an option"
                               (change)="radioSelected($event)"
                               formControlName="purpose">
                <div class="radio-border">
                  <mat-radio-button value="Professional">I am a Healthcare Professional</mat-radio-button>
                </div>
                <div class="radio-border">
                  <mat-radio-button value="Patient">I am a Patient/Visitor</mat-radio-button>
                </div>
              </mat-radio-group>
            </div>

          </form>
        </div>
      </mat-card-content>

      <mat-card-actions align="end" style="margin: 15px;">
        <img src="/assets/natus-logo.png"
             style="width: 100px;"
             alt="natus logo">
        <span class="example-spacer"></span>
        <div class="action-submit">
          <button mat-raised-button form="consentFormCtrl"
                  color="primary" (click)="onNgSubmit()">Continue</button>
        </div>
      </mat-card-actions>

      <!-- <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer> -->

    </mat-card>
  </div>

</div>
