.product-card {
  margin: 25px 15px;
  min-width: 250px;
  background-color: azure;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.58);
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.58);
}

.card-content-main {
  position: relative;
}

.mat-card-header-text {
  width: 100% !important;
}

.header-icon-div .favColor-active {
  color: orange;
}

.header-icon-div mat-icon:hover {
  color: orange;
}

.content-div {
  display: flex;
  width: 55%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  span {
    display: flex;
    align-items: center;

    &:hover {
      cursor: default;
    }

    &:hover mat-icon {
      color: #008c9a;
    }
  }

  mat-icon {
    margin-right: 10px;
  }
}

.actions-buttons-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 55%;
}

.header-icon-div {
  margin-top: 5px;
  margin-right: 5px;
}

@media (max-width: 850px) {
  .actions-buttons-div > button {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  // .actions-buttons-div {
  //   padding-top: 10px !important;
  //   padding-bottom: 10px !important;
  // }
}
