<mat-card class="product-card">
<div class="card-content-main">

    <mat-card-header>
      <div class="header-icon-div">
        <mat-icon (click)="favIconClicked()"
                  [ngClass]="favIcon">grade</mat-icon>
      </div>
      <mat-card-title-group>
        <mat-card-title>Otosuite Otometrics All Modalities</mat-card-title>
        <mat-card-subtitle>Desktop Application</mat-card-subtitle>
        <mat-form-field appearance="outline">
          <mat-label>Version</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="option1">1.1</mat-option>
            <mat-option value="option2">1.2</mat-option>
            <mat-option value="option3">2</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <div class="content-div">
        <span>
          <mat-icon>bookmarks</mat-icon>
          Product family
        </span>
        <span>
          <mat-icon>storage</mat-icon>
          554.62 KB
        </span>
        <span>
          <mat-icon>calendar_month</mat-icon>
          03/26/2017
        </span>
        <span>
          <mat-icon>public</mat-icon>
          English - English (UK)
        </span>
      </div>
    </mat-card-content>

    <mat-card-actions style="margin-top: 25px;">
      <div class="actions-buttons-div">
        <button mat-raised-button>
          <mat-icon>print</mat-icon>
          Print
        </button>
        <button mat-raised-button>
          <mat-icon>share</mat-icon>
          Share
        </button>
        <button mat-raised-button>
          <mat-icon>download</mat-icon>
          Download
        </button>
      </div>
      <button mat-button style="position: absolute; right: 5px; bottom: 6px;" (click)="panelH._toggle()">
        <mat-icon>info</mat-icon>
        See Details
      </button>
    </mat-card-actions>
</div>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         hideToggle
                         [class.mat-elevation-z0]=true
                         style="background-color: azure !important;">
      <mat-expansion-panel-header #panelH
                                  (click)="panelH._toggle()"
                                  style="height: 3px !important;">
        <!-- <mat-panel-title style="justify-content: center;">
          See Details
        </mat-panel-title> -->
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <h1>I'm visible because I am open</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptate fugit corporis beatae, ipsa rerum voluptatem.</p>
        <button mat-raised-button>
          <mat-icon>download</mat-icon>
          Click Me!
        </button>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
