<mat-card class="product-card">

  <mat-card-header>
    <div mat-card-avatar
         style="margin-top: 15px;">
      <mat-icon>star</mat-icon>
      <!-- <mat-icon >star_border</mat-icon> -->
    </div>
    <mat-card-title-group>
      <mat-card-title>Otosuite Otometrics All Modalities</mat-card-title>
      <mat-card-subtitle>Desktop Application</mat-card-subtitle>
      <mat-form-field appearance="outline">
        <mat-label>Version</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="option1">1.1</mat-option>
          <mat-option value="option2">1.2</mat-option>
          <mat-option value="option3">2</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <div class="content-div">
      <span class="card-content-outer-span">
        <mat-icon>bookmarks</mat-icon>
        Product family
      </span>
      <span class="card-content-outer-span">
        <mat-icon>storage</mat-icon>
        554.62 KB
      </span>
      <span class="card-content-outer-span">
        <mat-icon>calendar_month</mat-icon>
        03/26/2017
      </span>
      <span class="card-content-outer-span">
        <mat-icon>public</mat-icon>
        English - English (UK)
      </span>
    </div>
  </mat-card-content>

  <mat-card-actions style="margin-top: 25px;">
    <div class="actions-buttons-div">
      <button mat-raised-button class="matButton">
        <mat-icon>print</mat-icon>
        Print
      </button>
      <button mat-raised-button  class="matButton">
        <mat-icon>share</mat-icon>
        Share
      </button>
      <button mat-raised-button  class="matButton">
        <mat-icon>download</mat-icon>
        Download
      </button>
      <!-- <button style="margin-left: 15px;" mat-raised-button>
        <mat-icon>info</mat-icon>
        See Details
      </button> -->
    </div>
  </mat-card-actions>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         [class.mat-elevation-z0]=true
                         style="background-color: azure !important;">
      <mat-expansion-panel-header>
        <mat-panel-title style="justify-content: center;">
          See Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        Some deferred content
        <p>I'm visible because I am open</p>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
