.product-card {
  margin: 15px;
  min-width: 250px;
  background-color: azure;
}

.mat-card-header-text{
  width: 100% !important;
}


.header-icon-div .favColor-active {
  color: orange;
  // border: 1px solid black;
}

.header-icon-div mat-icon:hover {
  color: orange;
}

span:hover mat-icon {
  color: #008c9a;
}

mat-icon:hover {
  color: #008c9a;
  cursor: pointer;
}

.content-div {
  display: flex;
  width: 55%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.content-div span {
  display: flex;
  align-items: center;
}

.actions-buttons-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 55%;
}

.header-icon-div {
  margin-top: 5px; margin-right: 5px;
}

@media (max-width: 850px) {
  .actions-buttons-div > .matButton {
    margin-top: 10px !important;
  }
}
