
<div class="container"
     appDrag
     (fileDropped)="onFileDropped($event)">
  <input type="file"
         #fileDropRef
         id="fileDropRef"
         multiple
         (change)="fileBrowseHandler($event)" />
  <img src="assets/img/dnd/ic-upload-file.svg"
       alt="upload file icon">
  <h3>Drag and drop file here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for file</label>
</div>
<div class="files-list">
  <div *ngFor="let file of uploadedFiles; let i = index"
       class="row">
    <div class="single-file">
      <img src="assets/img/dnd/ic-file.svg"
           width="45px"
           alt="file">
      <div class="info">
        <h4 class="name">
          {{ file?.fileName }}
        </h4>
        <p class="size">
          {{ formatBytes(file.fileSize) }}
        </p>
      </div>
      <mat-progress-bar color="accent"
                        [value]="file.progressVal | async"></mat-progress-bar>
      <button mat-fab
              color="primary"
              aria-label="Remove File from upload list"
              [ngStyle]="{transform: 'scale(0.6)'}"
              (click)="deleteFile(i)"
              [disabled]="file.deleteDisabled">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <mat-accordion>
      <mat-expansion-panel (opened)="onExpanderOpen(file)"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        MetaData
      </mat-panel-title>
      <mat-panel-description>
        Expand to see metadata for this file
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-metadata-view [file]="file"></app-metadata-view>
  </mat-expansion-panel>
    </mat-accordion>


  </div>

</div>

<div id="wrapper">
  <button mat-raised-button color="primary"
          (click)="onUpload(null)" >Fetch All Metadata</button>
</div>

