.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.mat-expansion-panel {
  margin-top: 15px;
}

.mat-accordion>.mat-expansion-panel-spacing:first-child, .mat-accordion>*:first-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-top: 15px;
  margin-bottom: 0px;
}

.floating-icon {
  position: absolute !important;
  right: 5px; top: 5px;
  z-index: 1;
  height: 24px; width: 24px;
  background-color: gray; opacity: 0.5;
}
