<button *ngIf="isVisible"
        mat-mini-fab
        color="primary"
        (click)="close()"
        [class.mat-elevation-z8]=true
        class="floating-icon">
  <mat-icon>chevron_left</mat-icon>
</button>
<mat-accordion>
  <mat-expansion-panel expanded="true"
                       style="background-color: azure !important;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Product Family
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-radio-group aria-labelledby="example-radio-group-label"
                       class="example-radio-group"
                       [(ngModel)]="favoriteSeason">
        <mat-radio-button class="example-radio-button"
                          *ngFor="let season of seasons"
                          [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
    </ng-template>

  </mat-expansion-panel>
  <mat-expansion-panel
                       style="background-color: azure !important;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Product Category
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-radio-group aria-labelledby="example-radio-group-label"
                       class="example-radio-group"
                       [(ngModel)]="favoriteSeason">
        <mat-radio-button class="example-radio-button"
                          *ngFor="let season of seasons"
                          [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
    </ng-template>

  </mat-expansion-panel>
</mat-accordion>
